<div class="container-overall container-overall__contact">
  <div class="contact-container">
    <div class="banner-hero contact-header">
      <h1 class="banner-hero__h1 animation-hero"> Hello! <br> Let's talk </h1>
      <img src="<%= image_path 'coulored-logo.svg' %>" class="banner-hero__img banner-hero__img-contact rotate" alt="overall-digital logo">
    </div>
    <div class="contact-content" >
      <h6>We only need to know:</h6>
      <%= simple_form_for(@customer) do |f| %>
        <%= f.input :name,
          label: "your full name",
          placeholder: 'Thomas Shelby',
          :required => false,
          input_html: { class: 'label-text textarea' }  %>
        <%= f.input :e_mail,
          label: "your mail",
          placeholder: 'thomas@shelbybros.com',
          :required => false,
          input_html: { class: 'label-text textarea' } %>
        <%= f.input :message,
          label: "and how can we help you?",
          placeholder: 'we are growing fast and we need to have online presence...',
          :required => false,
          input_html: { class: 'label-text__msg' } %>
        <%= f.submit "Submit",
          disable_with: 'Submiting...',
          class: "button-prim"%>
      <% end %>
    </div>
  </div>
  <%# Modal for Welcome the customer %>
  <div class="welcome_modal" id="modal1" >
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Your message has been sent. We will contact you shortly. Thank you.</p>
    </div>
  </div>
</div>

<script>
  ScrollReveal().reveal('.rotate',
                        { delay: 800 },
                        { duration: 1200 });
    ScrollReveal().reveal('.contact-content',
                        { delay: 800 },
                        { duration: 1200 });
</script>
