<div class="container-overall-about">
  <div class="banner-hero__about">
    <div class="d-flex justify-content-end">
      <img src="<%= image_path 'gray-scale-logo.svg' %>" alt="overall-logo gray-scale">
    </div>
    <div class="banner-hero__text">
      <h1>we are overall <br><span id="typing"></span><br> new projects</h1>
    </div>
  </div>
</div>
<div class="team-content">
  <div class="team-about__title">
    <%= image_tag 'logo.svg', class: "" %>
    <h3>us</h3>
  </div>
  <div class="team-content__group">
    <div class="team-single-content">
      <%= image_tag 'pasquale-overall.png' %>
      <div class="team-single__description">
        <h5>PASQUALE TROISE</h5>
        <p>Co founder | full stack dev.</p>
      </div>
    </div>
    <div class="team-single-content" id="team-single-content__fabre">
      <div class="team-single__description">
        <h5>FABRE MARTINEZ</h5>
        <p>Co founder | UI/UX & front dev.</p>
      </div>
      <%= image_tag 'fabre-overall.png' %>
    </div>
    <div class="team-single-content" id="team-single-content__fabre">
      <div class="team-single__description">
        <h5>MORGAN LIZOP</h5>
        <p>Co Founder | Project Manager</p>
      </div>
      <%= image_tag 'morgan-about_us.png' %>
    </div>
  </div>
</div>

<div class="story-group">
  <div class="story-group__description">
    <p>we are a group of ex-alumni of Le Wagon (London) who love develop works, create new concepts and overall work together.</p><br>
    <p>here we combine all our knowledges to give to you the best result that we can provide.</p>
    <%= image_tag 'coulored-logo.svg' %>
  </div>
</div>


<script>
  ScrollReveal().reveal('.container-overall-about',
                        { delay: 800 },
                        { duration: 2400 });
  ScrollReveal().reveal('.team-content__group',
                        { delay: 800 },
                        { duration: 800 });
</script>
