<div class="container-overall">
  <div class="banner-hero">
    <h1 class="banner-hero__h1 animation-hero">developing ideas to create a better www.</h1>
    <img src="<%= image_path 'coulored-logo.svg' %>" class="banner-hero__img rotate" alt="overall-digital logo">
  </div>
  <div class="services">
    <h3>what we do</h2>
    <div class="services-cards">
      <div class="services-cards__card card_yellow ">
        <div class="services-cards__card-text">
          <h5>DIGITAL PRODUCT</h5>
          <p>We make digital products combining functionality and beauty to meet your goals.</p>
        </div>
        <%= image_tag 'home-service-web.svg', class: "services-cards__card-image " %>
      </div>
      <div class="services-cards__card card_dark">
        <div class="services-cards__card-text">
          <h5>DESIGN</h5>
          <p>We build elements that tell your story. Digital-first designs 100% adapted to the real world.</p>
        </div>
        <%= image_tag 'home-service-design.png', class: "services-cards__card-image" %>
      </div>
      <div class="services-cards__card card_green">
        <div class="services-cards__card-text">
          <h5>UX CONSULTING</h5>
          <p>We can help you to improve, raise perceptions and create trust of your website.</p>
        </div>
        <%= image_tag 'home-services-consulting.svg', class: "services-cards__card-image" %>
      </div>
    </div>
  </div>
</div>

<div class="landing-about-us">
  <%= image_tag 'bg-gradient.png', class: "about-bg" %>
  <div class="landing-about-us__content">
    <div class="landing_about-us__title">
      <%= image_tag 'logo.svg', class: "" %>
      <h3>us</h3>
    </div>
    <div class="landing_about-us__description">
      <p>Overall is a London-based developer and creative team.</p>
      <p>We’re a group of people who build products, brands and websites that help you to connect with potential customers and grow faster.</p>
    </div>
    <div class="button-underline">
      <%= link_to "KNOW MORE", about_path, class: "button-underline__text"%>
      <i class="fas fa-chevron-right landing_about-us__chevron"></i>
    </div>
  </div>
</div>

<div class="container-overall">
  <div class="landing-contact">
    <h2>We really want to <br>help you</h2>
    <div class="button-prim">
      <%= link_to new_customer_path do %>
        <div class="d-flex align-items-center">
          <h6>CONTACT US</h6>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>


