<!DOCTYPE html>
<html>
  <head>
    <title>Overall digital - </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon-32x32.png', type: 'image/png' %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="r8qbKLZLBUqY0jRRR0Gl_8jky9XyGVlUU94RDx_B2ko" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>
    <%= render 'shared/footer' %>


  </body>
</html>
